* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansCondensed";
  font-display: swap;
  src: url("../fonts/OpenSansCondensed-Bold.woff") format("woff"), url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansCondensed";
  font-display: swap;
  src: url("../fonts/OpenSansCondensed-Light.woff") format("woff"), url("../fonts/OpenSansCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

body {
  color: #fff;
  font-family: 'OpenSansCondensed';
}

a {
  color: #fff;
}

.container {
  max-width: 1130px;
  padding: 0px 10px;
  margin: 0 auto;
}

.header {
  margin: 0px 0px 185px 0px;
}

.header__content {
  padding: 51px 0px 0px 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.header__nav-items {
  display: -webkit-flex;
  display: flex;
}

.header__nav-item {
  position: relative;
  text-transform: uppercase;
  margin: 0px 63px 0px 0px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0px 0px 10px 0px;
}

.header__phone {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0px 0px 10px 0px;
}

.no-webp .head {
  background: url("../img/head/bg.jpg") no-repeat center/cover; }

.head {
  padding: 0px 0px 365px 0px;
  position: relative;
}

.head__contacts {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.75);
  width: 150px;
  height: 100vh;
  padding: 0px 0px 200px 0px;
}

.head__contacts-social {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.head__contacts-items {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  margin: 210px 0px 0px 0px;
}

.head__contacts-item {
  margin: 0px 0px 48px 0px;
  cursor: pointer;
}

.head__contacts-item:last-child {
  margin: 0;
}

.head__contacts-title {
  text-transform: uppercase;
  position: relative;
  width: 365px;
  height: 100%;
  padding: 0px 0px 0px 120px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.head__contacts-title::before {
  content: '';
  background-color: #C4C4C4;
  position: absolute;
  top: 10px;
  left: 0;
  height: 3px;
  width: 80px;
}

.head__contacts-item {
  width: 26px;
  height: 26px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.head__content {
  display: -webkit-flex;
  display: flex;
}

.head__info {
  padding: 120px 0px 0px 0px;
}

.head__slider-items {
  width: 370px;
  overflow: hidden;
}

.head__slider-line {
  display: -webkit-flex;
  display: flex;
  transition: 0.3s ease all;
}

.head__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  margin: 0px 0px 30px 0px;
}

.head__text {
  font-family: 'OpenSans';
  font-size: 14px;
  line-height: 21px;
  margin: 0px 0px 45px 0px;
}

.head__slider {
  margin: 0px 75px 0px 125px;
}

.head__nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 35px 0px 0px 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
}

.head__nav-prev span {
  padding: 4px 0px 0px 20px;
}

.head__nav-next span {
  padding: 4px 20px 0px 0px;
}

.about {
  background-color: #333333;
}

.about__content {
  padding: 150px 0px 0px 0px;
}

.about__title {
  margin: 0px 0px 100px 0px;
}

.about__columns {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  margin: 0px -15px 0px;
}

.about__column {
  padding: 0px 15px 0px;
}

.about__column:first-child {
  -webkit-flex: 0 0 475px;
          flex: 0 0 475px;
}

.about__column:nth-child(2) {
  -webkit-flex: 0 0 255px;
          flex: 0 0 255px;
}

.about__column-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0px 0px 40px 0px;
}

.about__column-text {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  line-height: 150%;
}

.about__column-item {
  font-weight: 700;
  font-size: 16px;
}

.about__column-item p {
  margin: 15px 0px 25px 0px;
}

.about__column-item span {
  color: #D1A954;
}

.perform {
  background: #333333;
}

.perform__content {
  padding: 150px 0px 0px 0px;
}

.perform__title {
  margin: 0px 0px 100px 0px;
}

.perform__slider {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.perform__slider-item {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex: 0 0 442px;
          flex: 0 0 442px;
  height: 550px;
}

.no-webp .perform__slider-item:first-child {
  background: url("../img/perform/oscar.jpg") no-repeat center/cover; }

.no-webp .perform__slider-item:nth-child(2) {
  background: url("../img/perform/Arka.jpg") no-repeat center/cover; }

.no-webp .perform__slider-item:nth-child(3) {
  background: url("../img/perform/grammofon.jpg") no-repeat center/cover; }

.no-webp .perform__slider-item:last-child {
  background: url("../img/perform/nutcracker.jpg") no-repeat center/cover; }

.perform__search-btn {
  width: 100px;
  height: 100px;
  display: -webkit-flex;
  display: flex;
  padding: 35px;
  background-color: #D1A954;
  border-radius: 50%;
}

.btn {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  background-color: #D1A954;
  height: 50px;
  padding: 0px 47px;
}

.title {
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title span {
  color: #D1A954;
}

.navlink::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #D1A954;
  width: 100%;
  height: 2px;
  opacity: 0;
  transition: 0.3s ease all;
}

.navlink:hover::after {
  opacity: 1;
}

.slider-btn {
  color: #C4C4C4;
  transition: 0.3s ease all;
  cursor: pointer;
}

.slider-btn:hover {
  color: #fff;
}

.active-arrow {
  fill: white;
}

.slider__arrow-prev {
  transition: 0.3s ease all;
}

.slider__arrow-next {
  transition: 0.3s ease all;
}

.svg-path {
  transition: 0.3s all;
}

.webp .head { background: url(../img/head/bg.webp) no-repeat center/cover; }

.webp .perform__slider-item:first-child { background: url(../img/perform/oscar.webp) no-repeat center/cover; }

.webp .perform__slider-item:nth-child(2) { background: url(../img/perform/Arka.webp) no-repeat center/cover; }

.webp .perform__slider-item:nth-child(3) { background: url(../img/perform/grammofon.webp) no-repeat center/cover; }

.webp .perform__slider-item:last-child { background: url(../img/perform/nutcracker.webp) no-repeat center/cover; }